## AB testing

### import lib

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## visualization
from scipy.stats import mannwhitneyu
from scipy.stats import ttest_ind
from scipy.stats import norm
from tqdm.auto import tqdm
from scipy.stats import pearsonr
from scipy.stats import shapiro

path = 'AB_Test_Results.csv'
df = pd.read_csv(path)
df.head()

   USER_ID VARIANT_NAME  REVENUE
0      737      variant      0.0
1     2423      control      0.0
2     9411      control      0.0
3     7311      control      0.0
4     6174      variant      0.0

In [3]:
df.nunique() # 중복되지 않은 값 개수 추출

USER_ID         6324
VARIANT_NAME       2
REVENUE          101
dtype: int64

In [4]:
df.describe() ##

            USER_ID       REVENUE
count  10000.000000  10000.000000
mean    4981.080200      0.099447
std     2890.590115      2.318529
min        2.000000      0.000000
25%     2468.750000      0.000000
50%     4962.000000      0.000000
75%     7511.500000      0.000000
max    10000.000000    196.010000